@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.ww-wrapper {
  width: max-content;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1rem;
  letter-spacing: 0.01rem;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);

  border-radius: 12px 12px 0 0;

  border: 1px solid rgba(209, 213, 219, 0.3);

  z-index: 999;
}

.daily-forecast {
  display: flex;
}

.extended {
  width: 272px;
  display: flex;
  justify-content: center;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);

  &__wrapper {
    font-size: 15px;
    width: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 44px;
    }
  }

  &-time {
    font-weight: bold;
    padding: 10px 5px 5px 5px;
  }

  &-temp {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
  }
}
