.ww-wrapper {
  width: max-content;

  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  line-height: 1rem;
  letter-spacing: 0.01rem;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);

  border-radius: 12px 12px 0 0;

  border: 1px solid rgba(209, 213, 219, 0.3);

  z-index: 999;
}

.daily-forecast {
  display: flex;
}

.extended {
  width: 272px;
  display: flex;
  justify-content: center;

  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.38);

  &__wrapper {
    font-size: 15px;
    width: 50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 44px;
    }
  }

  &-time {
    font-weight: bold;
    padding: 5px;
  }

  &-temp {
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
  }

  &-wind {
    padding: 4px;
  }

  &-precipitation {
    padding: 3px;
  }
}

.collapsable {
  display: inline-block;
  overflow: hidden;
  height: 0;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
}
.collapsable.show {
  height: 100px;
}
