<div class="ww-wrapper">
  <app-settings-bar></app-settings-bar>
  <app-current-weather></app-current-weather>

  <div
    *ngIf="dailyForecast$ | async as dailyForecast"
    class="daily-forecast"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <app-daily-forecast-short
      *ngFor="let day of dailyForecast"
      [date]="day.date"
      [imgUrl]="day.day.condition.icon"
      [maxTemp]="day.day.maxtemp_c"
      [minTemp]="day.day.mintemp_c"
      (mouseenter)="forecast = day"
    ></app-daily-forecast-short>

    <ng-template
      *ngIf="forecast"
      cdkConnectedOverlay
      cdkConnectedOverlayHasBackdrop
      cdkConnectedOverlayBackdropClass="ww-wrapper"
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="!!forecast"
    >
      <ng-container
        *ngTemplateOutlet="extendedForecast; context: forecast"
      ></ng-container>
    </ng-template>
  </div>
</div>

<ng-template #extendedForecast>
  <div class="extended">
    <div *ngFor="let hour of 5 | range" class="extended__wrapper">
      <div class="extended-time">02 <sup>00</sup></div>
      <img class="extended-img" />
      <div class="extended-temp">02 <sup>00</sup></div>
      <div class="extended-wind">02 <sup>00</sup></div>
      <div class="extended-precipitation">02 <sup>00</sup></div>
    </div>
  </div>
</ng-template>
