<div class="ww-wrapper">
  <app-settings-bar></app-settings-bar>
  <app-current-weather></app-current-weather>

  <div
    *ngIf="dailyForecast$ | async as dailyForecast"
    class="daily-forecast"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin">

    <app-daily-forecast-short
      *ngFor="let day of dailyForecast"
      [weekday]="(day.date | date: 'EEE') ?? ''"
      [imgUrl]="day.day.condition.icon"
      [maxTemp]="day.day.maxtemp_c"
      [minTemp]="day.day.mintemp_c"
      (mouseenter)="showExtendedForecast(day)"
      (mouseleave)="forecast = null">
    </app-daily-forecast-short>

    <ng-template
      *ngIf="forecast"
      cdkConnectedOverlay
      cdkConnectedOverlayHasBackdrop
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="!!forecast">
      <ng-container *ngTemplateOutlet="extendedForecast"></ng-container>
    </ng-template>
  </div>
</div>

<ng-template #extendedForecast>
  <div *ngIf="forecast" class="extended">
    <div *ngFor="let hour of forecast.hour" class="extended__wrapper">
      <div class="extended-time">{{ hour.time | date: "H" }} <sup>00</sup></div>
      <img [src]="hour.condition.icon" />
      <div class="extended-temp">{{ hour.temp_c }} <sup>&#176;</sup></div>
    </div>
  </div>
</ng-template>
