:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  padding: 10px 5px;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid rgba(209, 213, 219, 0.9);

  > svg {
    width: 20px;
    height: 20px;
    padding: 0 5px;
  }
}

.city-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

  > input[type="text"] {
    width: 100%;

    padding: 4px 8px;
    border: none;
    -webkit-transition: 0.1s;
    transition: 0.5s;
    outline: none;

    font-weight: bold;

    border-radius: 1px;

    background: transparent;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      background: whitesmoke;
      cursor: text;
    }
  }
}
