<div class="city-wrapper">
  <img
    style="width: 20px; height: 20px; padding-right: 5px"
    src="../../assets/icons/search.svg"
    alt="Search icon"
  />

  <input
    #cityInput
    type="text"
    list="dynamicCityList"
    placeholder="{{ cityList[0].name }}"
    (change)="onSelectionChange($event)"
  />
  <datalist id="dynamicCityList">
    <option *ngFor="let city of cityList" [value]="city.name">
      {{ city.name + ", " + city.country }}
    </option>
  </datalist>
</div>

<img
  style="width: 20px; height: 20px; padding-right: 5px"
  src="../../assets/icons/refresh.svg"
  alt="Refresh icon"
  (click)="refresh()"
/>
