.curr-forecast {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px 0;

  user-select: none;

  &__info {
    display: flex;
    flex-direction: column;

    span {
      font-size: 15px;
    }

    span + span {
      padding-top: 10px;
    }
  }

  &__temp {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;

    padding-right: 25px;

    > sup {
      font-size: 20px;
    }
  }
}
